/*debug stuff*/

.border {
    border: 1px solid red;
}

.work-in-progress {
    text-align: center;
}

/*MAIN STUFF*/

:root {
    /*color palette */
    --bcg-color: rgb(255, 255, 255);
    --text-color: rgb(28, 28, 28);
    --elements-color: rgb(0, 0, 0);
    --link-color: rgb(110, 110, 110);
    --shadow-color: rgb(0, 0, 0, 0.3);
    --green: rgb(0, 121, 0);
    --orange: rgb(255, 128, 0);

    /*transitions time*/
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

:root[data-theme="dark"] {
    --text-color: rgb(255, 255, 255);
    --bcg-color: rgb(60, 63, 65);
    --elements-color: rgb(255, 255, 255);
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Alaska,sans-serif;
}

body {
    background: var(--bcg-color);
    margin: 0 auto;
}

p, h1, h2, h3, li, ul {
    color: var(--text-color);
}

p {
    line-height: 1.3;
}

hr {
    border: 1px solid var(--elements-color)
}

a {
    color: var(--elements-color);
    text-decoration: none;
}

.visible-link {
    text-decoration: underline;
}

main {
    max-width: 60em;
    margin: 0 auto;
}

.main-wrapper {
    padding: 2em 0 2em 0;
}

.shadow {
    box-shadow: 0 0.1em 0.5em var(--shadow-color);
}

.inverse-shadow {
    box-shadow: inset 0 0.1em 0.5em var(--shadow-color);
}

.left-line {
    border-left: 1px solid var(--text-color);
}

.icon {
    display: inline-block;
}

.rounded {
    border-radius: 1em;
}

/*NAVIGATION*/

nav {
    background: var(--bcg-color);
    padding: 1em;
    position: relative;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.inner-nav-menu {
    display: flex;
    justify-content: center;
    min-height: 1em;
}

.nav-links {
    text-transform: uppercase;
    display: flex;
    row-gap: 0.5em;
    column-gap: 1em;
}

.nav-link span,
.nav-link-active span {
    position: relative;
}

.nav-link span::after,
.nav-link-active span::after {
    content: "";
    background: var(--text-color);
    height: 3px;
    width: 100%;
    border-radius: 5px;

    display: block;
    position: absolute;

    transform: scale(0);
    transition: var(--delay-mid) ease;
}

.nav-link,
.nav-link-active {
    transition: scale var(--delay-long);
    position: relative;
    padding: 0.7em 1em;
    color: var(--text-color);
}

.nav-link-active span::after {
    transform: scale(1);
    transition: var(--delay-short) ease;
}

/*LIGHT-DARK MODE BUTTON*/

.toggle-light {
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../images/light_bulb.png");
    background-repeat: round;
    background-color: rgba(0, 0, 0, 0);
    right: 1em;
}

.toggle-light button{
    border-style: none;
    background: none;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.light-div {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15%;
}

/*HEADER*/

header {
    display: flex;
    gap: 1em;
}

header img {
    border-radius: 1em;
    width: 35%;
    min-height: 50%;
}

/*INDEX CARDS*/

.index-card {
    padding: 1em 2em;
    margin: 0 0 1em 0;
    align-items: center;
    justify-items: center;
}

/*PROJECT CARDS*/

.project-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    align-items: start;
    gap: 2rem;
    margin: 0 calc(30% - 30vw) 6em;
}

.project-card {
    padding: 1em 2em;
    background: var(--bcg-color);
}

.content-wrapper {
    text-align: justify;
}


.project-card img {
    width: 100px;
    height: 100%;
    float: left;
    margin: 0 1em;
    border-radius: 0.4em;
}

.project-card .options-wrapper,
.show-more-card .options-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.link-button {
    border-style: none;
    padding: 0.8em;
    background: none;
    border-radius: 0.6em;
    cursor: pointer;
    transition: var(--delay-short);
    color: var(--text-color);
}

/*SHOW MORE*/

.show-more-card {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: var(--bcg-color);
    padding: 1em;
    z-index: 3;
    /*Center the div by using margin*/
    margin: 3em max(calc((100% - 60em) / 2), 2em) 2em;
    max-height: calc(100% - 5em);
    overflow-y: auto;
}

.blur-bcg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
    z-index: 2;
}

.behind {
    z-index: -1;
}

.stop-scroll {
    overflow: hidden;
}

/*CURRICULUM*/

.curriculum-sheet {
    padding: 2em;
}

.curriculum-sheet li {
    padding: 0.5em 0;
}

.curriculum-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.curriculum-header-title {
    margin-left: 1em;
}

.curriculum-header-img img {
    width: 6em;
    border-radius: 1em;
}

.curriculum-main-side-wrapper {
    display: grid;
    grid-gap: 1em;
    /*grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));*/
    grid-template-columns: auto auto;
}

.curriculum-side-wrapper {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(17rem,1fr));
    margin-bottom: 1em;
}

.curriculum-content {
    padding: 1em;
}

.curriculum-side-card {
    padding: 1em;
    border-radius: 1em;
    color: var(--text-color);
}

/*SKILLS CARD*/

.skills-card {
    transform: scale(1);
    transition: transform var(--delay-short);
    position: relative;
}

.skills-card::after {
    content: "";
    position: absolute;
    pointer-events: none;
    border-radius: 0.5em;
    bottom: 5px;
    height: 3px;
    width: 90%;
    background: var(--green);
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: left;
    transition-duration: var(--delay-short);
}

/*CONTACT LIST*/

.contacts-card ul {
    padding: 0;
}

.contacts-card li {
    list-style: none;
    position: relative;
    display: table;
    white-space: nowrap;
}

/*ICON*/

.icon {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
}

.icon::before {
    content: "";
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
}

.icon-nomargin::before {
    margin-right: 0;
}

.icon::before[data-theme="dark"] {
    /*doesnt seem to work*/
    opacity: 0.6;
}

.gmail-logo::before {
    background-image: url("../images/gmail_logo.png");
}

.phone-logo::before {
    background-image: url("../images/mobile-phone.png");
}

.instagram-logo::before {
    background-image: url("../images/instagram_logo.png");
}

.github-logo::before {
    background-image: url("../images/github_logo.png");
}

.youtube-logo::before {
    background-image: url("../images/youtube_logo.png")
}

.discord-logo::before {
    background-image: url("../images/discord_logo.png")
}

.copy-icon::before {
    background-image: url("../images/copy_icon_light.png");
}

.copy-icon::before[data-theme="dark"] {
    background-image: url("../images/copy_icon_dark.png");
}

.title-and-copy-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*COPY STUFF*/

.copy-element {
    cursor: pointer;
}

.copy-element::after {
    content: "Click to copy";
    transform: scale(0) translateX(-50%) translateY(5%);
    background: var(--bcg-color);
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 85%;
    white-space: nowrap;
    padding: 0.5em;
    border-radius: 0.5em;
    pointer-events: none;
    box-shadow: 0 0.22em 1em var(--shadow-color);

    transition: transform var(--delay-short);
    transform-origin: left bottom;
}

.copy-element.copied::after {
    content: "Copied!";
}

.hidden {
    display: none;
}

/*POSITIVE CLICK*/

.animation-div-positive {
    /*
    In the future this should be a click animation like green sparkles
    */

    position: absolute;
    width: 25px;
    height: 25px;
    background: green;
    top: 0;
    border-radius: 50%;
    pointer-events: none;

    transform: scale(0);
}

/*DOWNLOAD*/

.pdf-download-button {
    display: inline-block;
    padding: 1em 2em;
    border-radius: 0.5em;
}

/*FOOTER*/

footer {
    padding: 2em 2em 3em;
    background-color: var(--bcg-color);
    margin: auto auto 0;
    position: relative;
    z-index: 1;
}

footer p {
    display: flex;
    justify-content: center;
}

footer ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

footer ul li {
    padding: 0 1em 1em;
    margin: 0 auto;
}

.footer-link::after {
    content: "";
    position: absolute;
    background: var(--text-color);
    height: 3px;
    width: 100%;
    bottom: -5px;
    transform: scale(0);
    transition: var(--delay-mid);
    border-radius: 5px;
}

/*BACK TO TOP*/

html {
    scroll-behavior: smooth;
}

.top-btn-container {
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 2;
}

.top-btn-link {
    display: flex;
    border-radius: 50%;
    position: relative;
    color: var(--text-color);
}

.top-btn-img {
    width: 3em;
}

.top-btn-link::before {
    content: "Back to top";
    position: absolute;
    white-space: nowrap;
    right: calc(100% + 5px);
    bottom: 33%;
    /*ANIMATIONS*/
    transform: scale(0);
    transition: var(--delay-mid) ease;
    transform-origin: right;
}

/*MEDIA QUERIES*/

/*the device has hover support*/
@media screen and (hover) {
    .nav-link:hover span::after, .nav-link:focus span::after {
        transform: scale(1);
        transition: var(--delay-short) ease;
    }

    .nav-link:hover, .nav-link:focus {
        transform: scale(1.1);
        transition: var(--delay-short);
    }

    .toggle-light:hover .light-div {
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(255, 255, 0, 0.5), rgba(0, 0, 0, 0) 70%);
    }

    .top-btn-link:hover::before, .top-btn-link:focus-visible::before {
        transform: scale(1);
        pointer-events: none;
    }

    .pdf-download-button:hover {
        cursor: pointer;
    }

    .link-button:hover {
        background: rgba(0, 0, 0, 0.1);
        transform: scale(1.05);
        transition: var(--delay-short);
    }

    .copy-element:hover::after {
        transform: scale(1) translateX(-50%) translateY(-5px);
        transform-origin: left bottom;
    }

    .zoom-on-hover:hover {
        transform: scale(1.05);
        transition: var(--delay-short);
    }

    .footer-link:hover {
        transform: scale(1.1);
        transition: var(--delay-short);
    }

    .footer-link:hover::after {
        transform: scale(1);
        transition: var(--delay-short);
    }
}

/*screen bigger than 40em*/
@media screen and (min-width: 40em) {
    .nav-wrapper {
        justify-content: center;
    }

    nav,
    main,
    .show-more-card {
        padding: 3em;
    }

    .curriculum-sheet,
    .project-card,
    .index-card,
    header {
        border-radius: 1em;
    }

    footer ul {
        grid-auto-flow: column;
    }
}

/*screen less than 60rem*/
@media screen and (max-width: 60rem) {
    .curriculum-main-side-wrapper {
        grid-template-columns: auto;
    }

    .curriculum-content {
        border-right: none;
    }
}

/*screen less than 25rem*/
@media screen and (max-width: 25rem) {
    .nav-links {
        flex-direction: column;
    }

    header {
        flex-direction: column;
    }

    header img {
        width: 75%;
    }
}

/*for devices that do not support hover*/
@media not all and (hover) {

}