/*MAIN STUFF*/

:root {
    /*color palette */
    --text-color: rgb(246, 237, 238);
    --button-color: rgb(129, 96, 4);
    --link-color: rgb(38, 0, 0);
    --dark-blue: rgb(0, 3, 49);
    --bcg-color: rgb(20, 20, 20);

    /*transitions time*/
    --delay-short: 200ms;
    --delay-mid: 500ms;
    --delay-long: 1000ms;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--bcg-color);
}

p, h1, h2, h3 {
    color: var(--text-color);
}

a {
    color: var(--button-color);
    text-decoration: none;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

header {
    background: var(--link-color);
    min-height: 7em;
}

.nav-ink {
    transition: font-size var(--delay-long);
    position: relative;
}

/*NAVIGATION*/

nav a {
    margin: 0 0.5em;
    padding: 0.5em;
}

nav {
    -webkit-box-pack: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.nav-ink::after {
    --line-width: 80%;
    content: "";
    position: absolute;
    display: block;
    background: var(--button-color);
    height: 3px;
    width: var(--line-width);
    left: calc((100% - var(--line-width)) / 2);
    transform: scale(0);
    transition: var(--delay-short) ease;
}

.nav-ink:hover::after {
    transform: scale(1);
    transition: var(--delay-short) ease;
}

.nav-ink:hover{
    font-size: 110%;
    transition: font-size var(--delay-short);
}

/*FOOTER*/

footer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-4 {
    grid-column: span 4;
}

footer > * {
    margin: 0 auto;
}

/*COOL LINK*/

.cool-link{
    position: relative;
}

.cool-link::after {
    --width: 200%;
    color: var(--dark-blue);
    content: "Go to link";
    width: var(--width);
    text-align: center;
    display: block;
    position: absolute;
    background: linear-gradient(
        rgb(0 0 0 / 0),
        var(--button-color)
    );
    padding: 1em;
    border-radius: 0.5em;
    /*bottom: -100%;*/
    top: -50%;
    left: calc(50% - var(--width) / 2);
    white-space: nowrap;
    transform: scale(0);
    transition:
            transform var(--delay-mid) ease,
            /*bottom ease 500ms;*/
            top ease var(--delay-mid);
}

.cool-link:hover::after {
    transform: scale(1);
    /*bottom: 100%;*/
    top: 110%;
}

/*BACK TO TOP*/
html {
    scroll-behavior: smooth;
}

.top-btn-container {
    position: fixed;
    bottom: 1em;
    right: 2em;
}

.top-btn-link {
    display: flex;
    border-radius: 50%;
    position: relative;
}

.top-btn-img {
    width: 3em;
}

.top-btn-link::before {
    content: "Back to top";
    position: absolute;
    white-space: nowrap;
    right: calc(100% + 3px);
    bottom: 30%;
    /*ANIMATIONS*/
    transform: scale(0);
    transition: var(--delay-mid) ease;
    transform-origin: right;
}

.top-btn-link:hover::before {
    /*ANIMATIONS*/
    transform: scale(1);
    pointer-events: none;
}